body{
    background-image: url("bgmoja.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
    padding: 0;
    margin: 0;
}

.container1{
    padding: 0;
    margin: 0;
    padding-left: 8%;
    padding-right: 8%;
}

.naslov{
    text-align: center;
    background-color: #585858;
    color: #fff;

}

nav{
    background-color: #585858;
    padding-top: 10px;
    padding-bottom: 10px;
}

div a, nav a{
    text-decoration: none;
    color: black;
}

div a:hover, nav a:hover{
    text-decoration: none;
    color: black;
}

div button, nav button{
    font-weight: 600;
    border: salmon solid 1px;
    border-radius: 6px;
    background-color: salmon;
    padding: 4px 8px 4px 8px;
}

div button:hover, nav button:hover{
    border: #f38a7e solid 1px;
    background-color: #f38a7e;
}

.datum{
    text-align: right;
    color: white;
}

div .tabela{
    background-color: #e5d4d4;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

div .lista{
    background-color: #e5d4d4;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.naslov-slike{
    text-align: center;
}

.moje-slike{
    background-color: #e5d4d4;
}

.slika{
    padding-top: 15px;
    padding-bottom: 15px;
}

.moje-slike-bt{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

footer{
    background-color: #585858;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}